@font-face {
    font-family: inter;
    src: url(./font/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    font-family: inter;
}

/* .pc{
    background-color: #000;
} */
button {
    border: unset;
}

button:hover {
    background-color: #FFF;
}

.a {
    text-decoration: unset;
    color: #FFF;
    display: block;
}

.a:hover {
    color: #FF5500;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #000;
}

.logo {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin: 10px 10px;
}

.SignIn {
    width: 100px;
    height: 50px;
    border-radius: 4px;
    background-color: unset;
    border: 2px solid white;
    color: #FFF;
    float: right;
    margin: 20px 20px;
}

.SignIn:hover {
    background-color: #FF5500;
    border: unset;
}

.signUp {
    width: 150px;
    height: 50px;
    border-radius: 4px;
    background-color: #FF5500;
    color: #FFF;
    float: right;
    margin: 20px 20px;
}

.signUp:hover {
    background-color: unset;
    border: 2px solid white;
}


.aboutUs {
    margin: 35px;
    float: right;
}

.searchs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search {
    width: 700px;
    height: 50px;
    padding-left: 20px;
    border-radius: 4px;
    border: unset;
    margin-left: 10px;
    margin-top: 30px;
    background-color: #cac3c3;
    color: #979393;
}

.searchIcon {
    width: 35px;
    height: 35px;
    position: relative;
    right: 50px;
    top: 35px;
    color: #000;
}

.or {
    font-size: xx-large;
    color: #000;
    margin-left: 40px;
    margin-top: 25px;
}

.uploadYourOwn {
    width: 210px;
    height: 50px;
    border-radius: 4px;
    background-color: #FF5500;
    margin-top: 30px;
    color: #FFF;
    margin-left: 70px;
}

.uploadYourOwn:hover {
    background-color: unset;
    border: 1px solid #000;
    color: #000;
}

.top100 {
    width: 100%;
}

.top100mtn {
    font-size: xx-large;
    margin-top: 30px;
    text-align: center;
}

.music {
    height: 270px;
    background-color: #cac3c3;
    border-radius: 4px;
    /* box-shadow: 1px -2px 10px rgba(0, 0, 0, 0.5); */
    display: flex;
    flex-direction: column;
    position: relative;
}

.music>img {
    margin-top: 10px;
    height: 90%;
    border-radius: 4px;
}

.musicName {
    font-size: x-large;
}

.artistName {
    font-size: large;
}

.con {
    margin-right: 40px;
}

.b {
    position: relative;
    top: 60px;
}

#b {
    left: 15px;
}

#a {
    left: 30px;
}

#c {
    left: 45px;
}

.pagein {
    width: 100%;
    height: 100px;
    margin-top: 200px;
}

.circles {

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #000;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
}

.c3 {
    border: 0;
    background-color: #FF5500;
    color: #FFF;
}

.thanksForListen {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 150px;
}

.tfl {
    font-size: xx-large;
    text-align: center;
}

.tfl2 {
    font-size: x-large;
    text-align: center;
}

.createAcc {

    width: 210px;
    height: 50px;
    border-radius: 4px;
    background-color: #FF5500;
    margin-top: 30px;
    color: #FFF;
    text-align: center;
    line-height: 50px;
}

.createAcc:hover {
    background-color: unset;
    border: 1px solid #000;
    color: #000;
}

.haveAcc {
    margin-top: 10px;
}

/*  */

/* footer */

/*  */

.footer {
    width: 100%;
    border-top: 2px solid #979393;
    margin-top: 50px;
    height: 120px;
}

.dic {
    color: #cac3c3;
    margin-left: 10px;
    width: max-content;
}

.link {
    display: flex;
    flex-direction: row;
}

.lang {
    display: flex;
    margin-left: 10px;
}

.aa {

    text-decoration: unset;
    display: block;
}

.lang>p {
    margin-left: 10px;
}

audio {
    width: 100%;
    border-radius: 0;
}

/*  */

/* back to top */

/*  */


#scroll-top {
    position: fixed;
    right: 20px;
    bottom: 50px;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    line-height: 75px;
    text-align: center;
    font-size: 22px;
    background-color: #FF5500;
    text-decoration: solid;
}

#scroll-top:hover {
    line-height: 72px;
    background-color: unset;
    border: 2px solid #000;
    color: #000;
}


/*  */

/*  */

/*  */

/*  */

/* mobile */

/*  */

/*  */

/*  */

.mobile {
    display: none;
}

/*  */
/* header */
/*  */
.headerm {
    width: 100%;
    height: 50px;
    background-color: #000;
    border-top: 0;
}

.logom {
    height: max-content;
    color: #FF5500;
    line-height: 50px;
    display: inline-block;
}

.SignInm {
    height: 25px;
    float: right;
    background-color: unset;
    color: #FFF;
    line-height: 25px;
    margin-top: 10px;
    margin-right: 25px;
    font-size: smaller;
}

.SignInm:hover {
    background-color: unset;
}

.ListenInApp {
    float: right;
    margin-top: 10px;
    line-height: 25px;
    font-size: smaller;
    border-radius: 4px;
    background-color: #FFF;
}

/*  */

/* tab */

/*  */

.tabm {
    width: 100%;
    height: 450px;
    background-image: url(img/mobile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.whatsCreate>p {
    color: #FFF;
    font-size: xx-large;
    padding-top: 250px;
}

.createm {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    font-size: smaller;
    background-color: #FFF;
}

/*  */

/* trending */

/*  */

.trendingm {
    width: 100%;
    height: 530px;
    background-color: #000;
}

.trendingm>p {
    color: #FFF;
    padding-top: 10px;
    font-size: x-large;
}

.musicm {
    display: flex;
    margin-bottom: 10px;
}

.musicm>img {
    width: 100px;
    border-radius: 4px;
}

.para {
    font-size: small;
    padding-top: 15px;
    padding-left: 15px;
    color: #979393;
}

.musicNamem {
    color: #FFF;
    font-size: large;
}

/*  */

/* charts */

/*  */
.charts {
    width: 100%;
    height: max-content;
    background-color: #000;
    padding-top: 10px;
}

#chart {
    color: #FFF;
    font-size: x-large;
}

#themost {
    color: #979393;
    font-size: small;
    margin-top: -10px;
}

.album {
    display: flex;
    flex-direction: column;
}

.album>img {
    width: 100px;
    border-radius: 4px;
    box-shadow: 4px 1px 2px #cac3c3;
}

.allmusic {
    color: #FFF;
    font-size: small;
}

.top50 {
    color: #979393;
    font-size: small;
}

.newch {
    padding-top: 20px;
}

/*  */

/* get soundcloud */

/*  */
.getSC {
    width: 100%;
    height: 200px;
    background-color: #000;
    padding-top: 25px;
}

.getSC>p {
    font-size: xx-large;
    color: #FFF;
    background-color: unset;
    margin-bottom: 0;
}

.getSC>img {
    width: 100px;
    height: 50px;
    margin-left: -11px;
}

/*  */

/* footer */

/*  */


.footerm {
    width: 100%;
    height: 460px;
    background-color: #000;
}

.igfc {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.fc>img {
    padding-left: 15px;
}

.langm {
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
}

.langm>p {
    color: #FFF;
}

.langm>a {
    padding-left: 15px;
}
 
/*  */
/*  */
/*  */

@media (max-width:1200px) {
    .music>img {
        height: 70%;
    }

    .showMureMusic1 {
        display: block;
        margin-bottom: 20px;
    }

    .footer {
        height: 400px;
    }

    .lang {
        margin-left: 10px;
    }

    .link {
        display: flex;
        flex-direction: column;
    }

    #a {
        margin-top: 60px;
    }

    #a {
        display: none;
    }

    .search {
        margin-left: 5px;
    }

    .headerTab {
        height: 500px;
    }

    .mtns {
        margin-top: 50px;
    }

    #c {
        display: none;
    }

    .music {
        position: relative;
        left: 10px;
    }

    .auudio {
        width: 100%;
    }

    .thanksForListen {
        margin-top: 75px;
    }
}

@media (max-width:1000px) {

    .headerTab {
        height: 380px;
    }

    #b {
        margin-top: 60px;
    }

    .showMureMusic1 {
        position: relative;
        top: 170px;
    }

    .signUp {
        display: none;
    }

    .aboutUs {
        display: none;
    }

    .contactUs {
        display: none;
    }

    .connectSC {
        font-size: x-large;
    }

    .search {
        width: 690px;
        margin-left: 0;
    }

    .mtns {
        width: 570px;
        height: max-content;
        background-color: unset;
        margin-top: 200px;
    }

    .connectSC {
        display: none;
    }

    .CSC1 {
        display: none;
    }

    .CSC2 {
        display: none;
    }

    .searchs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .searchIcon {
        margin-top: -80px;
        margin-left: 700px;
    }

    .or {
        margin-top: 80px;
        margin-left: 20px;
    }

    .uploadYourOwn {

        margin-left: 20px;
    }

    .top100mtn {
        font-size: x-large;
    }

    #b {
        display: none;
    }

    #a {
        display: none;
    }

    .thanksForListen {
        margin-top: 200px;
    }

    .music {
        margin-left: 10px;
    }
}

@media (max-width:750px) {
    #scroll-top {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: large;
    }

    #scroll-top:hover {
        line-height: 47px;
    }

    .headerTab {
        height: 325px;
    }

    audio {
        /* display: none; */
    }

    .search {
        width: 500px;
    }

    .searchIcon {
        margin-right: 150px;
    }

    .signUpFree {
        margin-top: -75px;
    }
}

@media (max-width:520px) {
    .pc {
         display: none;
    }

    .mobile {
         display: block;
    }
}

@media (max-width:450px) {
    .SignInm {
         display: none;
    }

    .tabm {
         height: 375px;
    }

    .whatsCreate>p {
         padding-top: 150px;
    }

    .link {
         padding-right: 10px;
    }
}
@media (max-width:390px){
    .tabm{
         height: 350px;
    }
    .whatsCreate>p {
         padding-top: 150px;
    }
    .langm{
         font-size: small;
    }
    
}
@media (max-width:360px){
    .tabm{
         height: 325px;
    }
    .whatsCreate>p{
         padding-top: 125px;
    }
    .charts{
         padding-top: 50px;    
    }
    .link{
         font-size: large;
    }
}
@media (max-width:330px){
    .tabm{
         height: 300px;
    }
    .whatsCreate>p{
         padding-top: 150px;
         font-size: large;
    }
    .getSC>p{
         font-size: large;
    }
    .langm{
         font-size: x-small;
    }
    .trendingm>p{
         font-size: large;
    }
}